@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
    background-image: url(../img/Image.png);
    background-color: rgb(47, 24, 146);
}

section {
    font-family: "DM Sans";
}

.header {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.2926828861236572px;
    color: rgba(196, 196, 196, 1);
}

.A-high {
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    max-width: 830px;
}

.display-class {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wemade {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    max-width: 513px;
}

svg {
    cursor: pointer;
}

li {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.nav-item>a {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
}

.navbar {
    --bs-navbar-padding-y: 1rem !important;
    --bs-navbar-padding-x: 1rem !important;
}

button[aria-expanded="false"] span.lines {
    display: block !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

button[aria-expanded="false"] span.cross {
    display: none !important;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


#btn-signup {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 218, 197, 1);
    padding: 10px 15px;
    border-radius: 2rem;
}

#btn-signup:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    color: rgba(37, 218, 197, 1) !important;
}

/* .navbar.navbar-expand-lg {
     max-width: 970px !important; -
     margin-left: auto !important;
  
} */

@media (min-width:992px) {
    .pd-left-30{
        padding-left: 30px !important;
    }

    .header
    {
        position: absolute;
        left: 50%;
    }
}